body{ 
    margin: 0;
    background-color: #eef3f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111111;
}

h3,p{
    margin-bottom: 0;
    padding-left: 2vw;
    padding-right: 5vw;
       
}

h1, h2{ 
    text-align: left;
    margin-left: 150px;
    padding-bottom: 10px;
}

nav {
    background-color: #222;
    padding: 10px; 
    position: sticky;
    top: 0; 
    z-index: 2;
    border-radius: 4px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a{
    margin-top: 0;
    padding:0;
    list-style: none;
    display:flex;
    justify-content: space-between;
}

nav a {
    margin: 0;
    text-align: center;
    color:#d0d6d6;
    transition: color 0.5s ease;
    font-size: larger;
    max-width: 1500px;
}

nav a:hover{ 
    color: #041421;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    padding-bottom: 10px;
}

.logo img {
    height: 130px; 
    width: auto;
}

.concerts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(5, auto); 
    gap: 25px;
    padding: 50px;
}

.concert-card {
    border: 1px solid #042630;
    border-radius: 15px;
    text-align: wrap;
    background-color: #111;
    color: #f0f0f0;
    padding: 10px;
    transition: transform 0.3s ease;
}

.concert-card:hover{
    transform: scale(1.01);
    z-index: 1;
}

.concert-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #222;
}

@media screen and (max-width: 800px) {
    .concerts-grid {
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 20px;
    }

    .logo {
        position: static;
        display: flex;
        justify-content: left;
        margin-bottom: 10px;
    }

    .logo img {
        height: 100px;
        margin-left: 5px; 
        margin: 15px;

    }

    h1, h2 {
        margin-left: 15px;
        text-align: left;
    }

    nav ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav ul li a{
        margin-top: 0;
        padding:2px;
        list-style: none;
        display:flex;
        flex: 1 1 auto;
        justify-content: space-evenly;
        font-size: 12px;
    }

    .concert-card {
        margin: 20px;
    }

    .concert-card img {
        width: 100%;
        height: auto;
    }
}