body{ 
    padding: 3vw;
    background-color: #eef3f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #042630;

}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: #4c7273;
    position: sticky;
    top: 0; 
}

nav a {
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:	#d0d6d6;
    transition: color 0.5s ease;
    font-size: larger;
}

nav a:hover{ 
    color: #041421;
}