body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.scroller-repository{
  display: flex; 
  justify-content: space-between;
  max-width: 80vw;
  gap: 25px;
  padding: 15px;
  box-sizing: border-box;
  width: 100%; 
}

.scroller {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.scroller-body {
  position: relative;
  width: 40px;
  height: 300px;
  background: #202020;
  border: 2px solid #494949;
  border-radius: 10px;
}

.button {
  position: absolute;
  left: -5px;
  width: 50px;
  height: 20px;
  background-color: #656565;
  border-radius: 2px;
  cursor: grab;
  user-select: none;
}

.starting-number {
  margin-top: 15px;
  font-weight: bold;
  color: #282828;
  height: 20px;
  user-select: none;
}

#phone-number-saver {
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: auto;
  text-size-adjust: auto ;
}

#saved-phone-notification {
  margin-top: 20px;
  font-weight: bold;
  font-size: 35px;
  color: #202020;
}

#reset-scrollers { 
  font-size: 15px;
  cursor: pointer; 
  padding: 8px; 
  border: 2px;
  background: #494949;
  color: white;
  border-radius: 5px; 
  margin-top: 10px;
}

#reset-scrollers:hover{ 
  background: #2c2c2c;
}

#saved-phone-notification.show { 
  opacity: 1; 
  overflow: visible;
}