* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.background {
  background-image: url("mexico-vs-usa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.overlay {
  position: absolute;
}

.score {
  top: 1px;
  left: 1px;
  height: 350px;
  width: 350px; 
}

.logo {
  top: 20px;
  right: 20px;
  width: 100px;
}
