* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
}

.background {
  background-image: url("mexico-vs-usa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.overlay {
  position: absolute;
}

.score {
  top: 15px;
  left: 250px;
  height: 400px;
  width: 200px; 
}

.logo {
  top: 20px;
  right: 250px;
  width: 200px;
}
